<app-header (signOut)="onSignOut()" (menuClicked)="menu.toggle()" [isAuthorized]="isAuthorized$ | async"
[user]="user$ | async"></app-header>
<mat-sidenav-container class="scroll">
    <mat-sidenav class="scroll" #menu role="navigation" [mode]="sideMode">

        <app-menu-list class="scroll" (menuToggle)="menu.close()" (signOut)="onSignOut()" [isAuthorized]="isAuthorized$ | async"
            [user]="user$ | async"></app-menu-list>

    </mat-sidenav>

    <mat-sidenav-content class="scroll">

    

        <router-outlet></router-outlet>
        
    </mat-sidenav-content>
</mat-sidenav-container>