<!-- <input type="text"
  class="app-input"
  [value] ="value"
  [placeholder] = "placeholder || ''"
  [attr.disabled] = "isDisabled ? true : null"
  (keyup) = "onKeyup($event)"
  (blur) = "onBlur()"
> -->
<mat-form-field  appearance="outline">
  <mat-label  >{{placeholder || ''}}</mat-label>
  <input     [value] ="value" (keyup) = "onKeyup($event)"   (blur) = "onBlur()"   [value] ="value" matInput [placeholder]="placeholder || ''">
<!--   <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
</mat-form-field>