<div *ngIf="table.paginator"  class="w-100 fl-justify-center  pt-20">
    <div class="{{class}} fl-justify-end">
        <ng-container *ngIf="(table && table.data && table.data.length>0)">
            <app-paginator ></app-paginator>
        </ng-container>
    
    </div>
 </div>
 <div class="w-100 fl-justify-center">
     <app-table class="{{class}}" [table]="table">
         <tr *ngFor="let item of table.data">
             <ng-container *ngFor="let col of table.columns" [ngSwitch]="col.type">
                 <td [ngClass]="{'tx-start':col.type=='list','tx-check':col.columnDef=='checkbox','feriado':col.columnDef=='detalle'}">
                <div class="td-container" >
                    <ng-template ngSwitchCase="checkbox">
                         
                        <app-checkbox [checkbox]="item[col.columnDef]"></app-checkbox>
                       
                     </ng-template>

                     <ng-template ngSwitchCase="text">
                         {{item[col.columnDef]}}
                     </ng-template>
                    

                     <ng-template ngSwitchCase="list">
                         <ng-container  *ngIf="item[col.columnDef].title">
                            <b>{{item[col.columnDef].title}}</b><br>
                         </ng-container>
                       
                         <ng-container  *ngIf="item[col.columnDef].data&&item[col.columnDef].data.length>0">
                            <ng-container *ngFor="let cont of item[col.columnDef].data">
                         <div>
                            <b>{{cont.title}}</b> {{cont.content}} <br>
                         </div>
                            </ng-container>
                          
                         </ng-container>                       
                     </ng-template>

                     <ng-container *ngIf="table.actions && table.actions[0]" >
                         <ng-template ngSwitchCase="actions">
                             <ng-container *ngFor="let action of table.actions" >
                                 <a (click)="actionTable(action.event,item)" >{{action.title}}</a> <br>
                             </ng-container>
                        
                            <!--  <a>Ver archivo</a> <br>
                             <a >Ir a documento</a> -->
                         </ng-template>
                     </ng-container>
                </div>
                   
                 </td>
        
             </ng-container>


         </tr>
     </app-table>
 </div>