<div class="app-page full-page fl-justify-center pl-0 pr-0">
    
    <div class="app-page__content fl-justify-center w-100">
        
        <div class="w-100 fl-justify-start fl-al-item-start fl-col">
            <div class="w-100 fl-justify-center">
                <app-table-generic [table]="table" (action)="onAction($event)" [class]="'w-100'" class="w-50" ></app-table-generic>  
            </div>
            <div class="w-100 fl-justify-center pt-20">
                <app-table-generic [table]="table2"  ></app-table-generic>  
            </div>        
       
        </div>

    </div>

</div>