@import "styles/mixins";

.shadow {
  @include shadow;
  padding: 20px;
}

.card {
  @include card;
  width: fit-content;

}
.app-page{
    display: flex;
    justify-content: center;
    height: 100%;

}
.options{
  button{
    width: 100% !important;
  }
}
