@import "styles/mixins";

.shadow {
  @include shadow;
  padding: 20px;
}

.card {
  @include card;
  width: fit-content;
  padding: 40px;

}
.app-page{
    display: flex;
    justify-content: center;
    height: 100%;

}
.option{
  min-width: 400px !important;
}