@import "styles/mixins";

.shadow {
  padding: 20px;
}

.card {
  width: fit-content;
  padding: 40px;
}
.app-page{
    display: flex;
    justify-content: center;
    height: 100%;

}
.option{
  min-width: 400px !important;
}

@media only screen and (max-width: 800px) {
  .option{
    min-width:fit-content !important;
  }
}