@import "styles/colors";

.autocomplete {
  position: relative;

  &__options {
    position: absolute;
  }
}

.option {
  display: flex;
  align-items: center;

  &__icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }

}

:host-context(.form-field_error){
  input {
    border: 1px solid $error;
  }
}



:host-context(.form-field_error) {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $error !important;
    // opacity: 1!important;
  }
  ::ng-deep .mat-form-field-label {
    color: $error !important;
  }
}
