@media only screen and (max-width: 800px) {
    app-table {
        width: 90% !important;
        padding: 20px 0px !important;
    }
    app-table-generic{
        width: 90% !important;
        padding: 20px 0px !important;
    }
  
}