<div class="app-page full-page fl-justify-center pl-0 pr-0">

    <div class="app-page__content fl-justify-center w-100">
        <div class="form w-100 fl-justify-center fl-col">

            <form [formGroup]="form" class="w-100 fl-al-item-center fl-col" (submit)="onSubmit()"
                (keyup.enter)="onSubmit()" novalidate autocomplete="off">


                <div class="w-60 fl-col">
                    <div class="fl-row">
                        <app-form-field class="pr-10 w-50" [control]="form.controls.requirementType">
                            <app-select placeholder="Tipo de Requerimiento" label="label" value="value"
                                formControlName="requirementType" [items]="options" label="title" value="id"></app-select>
                        </app-form-field>

                        <app-form-field class="pl-10 w-50" [control]="form.controls.purchaseType">
                            <app-select placeholder="Tipo del Compra" label="label" value="value"
                                formControlName="purchaseType" [items]="options" label="title" value="id"></app-select>
                        </app-form-field>

                    </div>

                    <div class="fl-row">
                        <app-form-field class="pr-10 w-50" [control]="form.controls.category">
                            <app-select placeholder="Categoria de Requerimiento" label="label" value="value"
                                formControlName="category" [items]="options" label="title" value="id"></app-select>
                        </app-form-field>

                        <app-form-field class="pl-10 w-50" [control]="form.controls.adquisicionType">
                            <app-select placeholder="Tipo del Adquisición" label="label" value="value"
                                formControlName="adquisicionType" [items]="options" label="title" value="id"></app-select>
                        </app-form-field>

                    </div>



                    <div class="fl-row">
                        <app-form-field class=" w-100" [control]="form.controls.moneyType">
                            <app-select placeholder="Tipo de Moneda" label="label" value="value"
                                formControlName="moneyType" [items]="options" label="title" value="id"></app-select>
                        </app-form-field>
                    </div>


                    <div class="fl-row">
                        <app-form-field class=" pr-10 w-50" [control]="form.controls.purchaseName">
                            <app-text-area [rows]="3" formControlName="purchaseName" placeholder="Nombre de compra"></app-text-area>
                        </app-form-field>

                        <app-form-field class="pl-10 w-50" [control]="form.controls.specification">
                            <app-text-area [rows]="3" formControlName="specification" placeholder="Especificaciones Técnicas"></app-text-area>
                        </app-form-field>
                    </div>

                    <div class="fl-row">
                        <app-form-field class=" pr-10 w-50" [control]="form.controls.objetive">
                            <app-text-area [rows]="3" formControlName="objetive" placeholder="Objetivo"></app-text-area>
                        </app-form-field>

                        <app-form-field class="pl-10 w-50" [control]="form.controls.recomendation">
                            <app-text-area [rows]="3" formControlName="recomendation" placeholder="Recomendación"></app-text-area>
                        </app-form-field>
                    </div>
                </div>




                <div class=" w-100 r-0 p-20 fl-al-con-center fl-col header">
                   
                
                </div>

                <div class="pt-20">
                    <app-button [class]="'secondary pr-35 pl-35'" type="submit">Guardar</app-button>
                </div>

            </form>
            
        </div>

    </div>

</div>