<div class="header">
  <div class="up">
    <div class="menu">
      <a class="app-a" routerLinkActive="app-a_active" (click)="onClicked()">
        <span class="material-icons icons md-36 estiloIcon">menu</span>
      </a>
    </div>

    <div class="logo">
      <img src="../../../../../assets/img/Logo-ATTA-RGB.jpg" alt="">
    </div>

  </div>


  <div *ngIf="loggedin$ | async as log" class="header__title">
    <span class="pr-10  {{log.view.icon.class }}  icons md-36">
      {{log.view.icon.name }}
    </span>
    <h3 class="title">
      <div > {{log.view.title }}</div>
     </h3>
  </div>

</div>