@import '~@angular/material/theming';

@include mat-core();


// GAMA COLORES
$my-primary-color: (
  200 : $primary-light,
  500 : $primary,
  700 : $primary-dark,
  contrast: (
    200 : $primary-dark,
    500 : $on-primary,
    700 : $on-primary,
  )
);

$my-accent-color: (
  200 : $secondary-light,
  500 : $secondary,
  700 : $secondary-dark,
  contrast: (
    200 : $secondary-dark,
    500 : $on-secondary,
    700 : $on-secondary,
  )
);

$my-warn-color: (
  200 : #feba80,
  500 : #fd7400,
  700 : #fc6100,
  contrast: (
    200 : #000000,
    500 : #000000,
    700 : #000000,
  )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent,
   warn: $my-palette-warn
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);
